:root {
    --blanco: white;
--primerPaso: green;
--segundoPaso: #FFCE00;
--tererPaso: red;
--cuartoPaso: rgb(33, 33, 209);


}
body {
background-color:#c7e9f1;
}
.container{
width: 100%;

}
.progessbar{
counter-reset: step;
}
.progessbar li{
list-style-type: none;
float: left;
/*width: 33.33%;*/
width: 24.99%;
position: relative; 
text-align: center;   
}
.progessbar li::before{
/*content: "1";*/
content:counter(step);
counter-increment: step;
width: 30px;
height: 30px; 
/*font-weight: bold; */
line-height: 30px;
border: 1px solid #ddd;
display: block;
text-align: center;
margin: 0 auto 10px auto;
border-radius: 50%;
background-color: var(--blanco);
}
.progessbar li::after{
content: "";
position: absolute;
width: 100%;
height: 1px;
background-color: var(--gris);
top: 15px;
left: -50%;
z-index: -1;
}
.progessbar li:first-child::after{
content: none;
}

/*Color al primer paso*/
.img {
width: 50%;    
}

/*
.progessbar li.paso1 {
color: var(--primerPaso);    
}
.progessbar li.paso1::before{
border-color: var(--primerPaso);
}
.progessbar li.paso1 +li::after{
background-color: var(--primerPaso);
}
*/