:root {
    --blanco: white;
    --paso: green;
    --gris: #ddd;
    --negro: black;
    
}
body {
background-color:#c7e9f1;
}
/*Estilos a los enlaces*/
a{     
    color:var(--negro);
    text-decoration: none;
    font-size: 20px;
    
}

a:hover{
color:var(--paso); 
}
/*Dar estilo a la lista*/

.menu ul{
    list-style: none;
    text-decoration: none;
    }
.container2 li{
     margin-bottom: 10px;  
     display: flex;
}
.bold{
    font-weight: bold; 
    
}
.header1,
.page-title {
    text-transform: uppercase;/*Texto h2 en mayusculas*/
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;    
}
.container{
width: 100%;
}
.progessbar{
counter-reset: step;
display:flex;
}
.progessbar li{
list-style-type: none;
float: left;
/*width: 33.33%;*/ /*Posicion para 3 elementos*/
width: 24.99%; 
position: relative; 
text-align: center;   
margin-bottom: 60px;
}
.progessbar li::before{
/*content: "1";*/
content:counter(step);
counter-increment: step;
width: 30px;
height: 30px; 
/*font-weight: bold; */
line-height: 30px;
border: 1px solid #ddd;
display: block;
text-align: center;
margin: 0 auto 10px auto;
border-radius: 50%;
background-color: var(--blanco);
}
.progessbar li::after{
content: "";
position: absolute;
width: 100%;
height: 1px;
font-weight: bold; 
background-color:var(--gris);
top: 15px;
left: -50%;
z-index: -1;
}
.progessbar li:first-child::after{
content: none;
}
/*Iconos*/
 
.img {
    width: 70%;  /*tamaño icono*/    
}
.img1{
    width: 30%; /*tamaño icono-check*/      
}

/*Color barra estado*/
.progessbar li.paso{
    color: var(--paso); /*color al número 1,2 y 3*/
}
.progessbar li.paso::before{
    border-color: var(--paso);/*color al borde del circulo  1,2 y 3*/
}
.progessbar li.paso +li::after{
    background-color: var(--paso);/*color a la barra del 1-2 y del 2-3  y 3-4*/
}


